.login{
    width: 500px!important;
    height: 200px!important;
    margin-left: 25%;
    padding-top: 3%;
    /*background-color: #77bdc9;*/
}
form{
    /*background-color: #77bdc9;*/
}
.forms{
    padding-top: 15%;
}